body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    padding: 10px;
}

h2{
    color: lightblue;
    background-color: rgb(231, 125, 245);
}

p {
    padding: 10px;
}

